h1, p {
    color: rgb(83, 75, 75);
}

a {
    color: rgb(167, 1, 78);
}

a:hover {
    text-decoration: underline;
}

#todays-challenge {
    color: rgb(204, 135, 57);
    font-size: 36px;
}

img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}