h1 {
    color: purple;
    font-size: 48px;
}

/* #description {
    margin-bottom: 36px;
} */

header p {
    margin-bottom: 12px;
}

#back-to-home {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: white;
    background-color: rgb(167, 1, 78); /* Green */
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(167, 1, 78);
}

#back-to-home:hover {
    background-color: rgb(180, 12, 90);
}

ol {
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li {
    margin: 32px;
    background-color: rgb(223, 136, 124);
    border-radius: 5px;
    padding: 16px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

li h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(78, 13, 5);
}

/* li p {
    margin: 12px;
} */

.daily-goal {
    margin: 12px;
}

.highlight-goal {
    background-color: rgb(226, 115, 101);
}

#goal-1-p {
    color: rgb(231, 141, 231);
}

#goal-2-p {
    color: rgb(149, 236, 232);
}

#goal-3-p {
    color: rgb(111, 89, 212);
}

#goal-4-p {
    color: rgb(103, 223, 153);
}